@use '/assets/variables.scss' as variables;
@use '/assets/mixins.scss' as mixins;

.areas__title {
    margin-bottom: 35px;
    @include mixins.textOptions(24px, 600, 29px);
}

.areas__list {
    display: grid;
    grid-gap: 20px 150px;
    grid-template-columns: repeat(2, 225px);
}