@use '/assets/variables.scss' as variables;
@use '/assets/mixins.scss' as mixins;

.checkout__header {
    padding: 80px 0px 50px;
    display: flex;
    justify-content: space-between;

    .checkout__actions {
        display: flex;
        align-items: center;
        gap: 25px;
    }

    .checkout__button {
        border-width: 1px;
        padding: 5px 45px;
        font-size: 20px;

        &.button_light:hover {
            border-width: 1px;
        }
    }

    .checkout__basket {
        width: 45px;
        height: 35px;

        figcaption {
            position: absolute;
            z-index: 2;
            color: #fff;
            border-radius: 50%;
            background: #EE1414;
            display: grid;
            place-items: center;
            right: -10px;
            top: -10px;
            @include mixins.imageResolutionOptions(20px, 20px);
            @include mixins.textOptions(14px, 400, 16px);
        }
    }
}