@use '/assets/variables.scss' as variables;
@use '/assets/mixins.scss' as mixins;

.footer__link {
    gap: 10px;
    display: flex;
    align-items: center;

    color: variables.$color-white;
    @include mixins.textOptions(16px, 500, 20px);

    &:hover {
        color: variables.$color-orange;
    }
}

.footer__icon {
    @include mixins.imageResolutionOptions(26px, 26px);
}