@use '/assets/variables.scss' as variables;
@use '/assets/mixins.scss' as mixins;

.cart__item {
    .product__description {
        grid-column: 1/3;
        color: variables.$color-white;
        @include mixins.textOptions(16px, 400, 140.4%);

        p {
            font-size: 16px;

            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }
}
